# problem solving and programming 

### 12 june 2019

#### Day Objectives

* string slicing
* Functions in python
* basic problems related to conditional statements using function
* Iterations in python
* python data structures-lists,tuples and dictionaries
* basic operation on data structures
* apply data structure to problem

# string slicing

In [1]:
s1 = "python"

s1

'python'

In [2]:
s1[0]

'p'

In [3]:
s1 [1]

'y'

In [5]:
s1[2]

't'

In [6]:
s1[3]

'h'

In [7]:
s1[4]

'o'

In [4]:
s1[5]

'n'

In [8]:
s1 = "pythonsdhjadgskhfjghdjghfdsljhgfdkldjgs"

s1[len(s1)-1]

's'

In [9]:
s1 = "python"

s1[len(s1)-1] #acess last char in a string

'n'

In [13]:
s1 = "python"

s1[-1] #another way to acess last char

'n'

In [15]:
s1 = "python"

s1[-2] #acessing last but one char or penultimate char

'o'

In [19]:
s1 = "python"

s1 [0:2] #acessing 1st two char in string

'py'

In [23]:
s1 = "python"

s1 [-2:] #acessing last two char in string
s1 [4:]  #acessing last two char in string

'on'

In [16]:
s1 = "python program"

s1 [-2:] #acessing last two char in string
s1 [4:]  #acessing all char after 5 in string
s1 [1:-1] #acess all leaving first one and last one
s1[len(s1)//2] #acess the middle char  // to divide lenght in python we use

''

In [12]:
n1=51
n1/2#normal division with float value
n1//2#normal division without float

25

In [35]:
s1[::-1] # reverse of a string

'margorp nohtyp'

In [45]:
s1[-1::-1] # reverse of a string

'margorp nohtyp'

In [49]:
s1[-1:-3:-1] #acess last 2 char in reverse order

'ma'

In [56]:
s1="python"
s1[len(s1)//2:len(s1)//2-2:-1]#reverse the middle two char in an even length string

'ht'

In [57]:
#accessing alternate characters in a string
#"python"->"pto"
s1[::2]

'pto'

In [58]:
#accessing alternate characters in a string in reverse order
#"python"->"nhy"
s1[::-2]

'nhy'

## Functions

In [67]:
# function to reverse a string
def reversestring(s):
    return s[::-1]

reversestring("python")

'nohtyp'

In [77]:
# function to check if a string is a palindrome
def palindrome(s):
    if s== s[::-1]:
        return True 
    else:
        return False
palindrome(" ")

True

In [86]:
#function to check if a given year is leap year 
def isleapyear(year):
    if year % 400 ==0 or (year % 100 !=0 and year % 4 ==0):
        return True
    return False
    
isleapyear(2020)

True

In [90]:
#function to count the number of digits in a given number 
def countthedigits(n):
    return len(str(n))
countthedigits(123456)

6

In [93]:
#Function to identify the greatest of 4 numbers
def greatestnumber(n1,n2,n3,n4):
    if n1>n2 and n1>n3 and n1>n4:
        return n1
    elif n2>n1 and n2>n3 and n2>n4:
        return n2
    elif n3>n1 and n3>n2 and n3>n4:
        return n3
    elif n4>n1 and n4>n2 and n4>n3:
        return n4
greatestnumber(10,20,30,40)

40

## iteration
* for 
* while

In [97]:
#Function to print n natural numbers
def printnnaturalnumbers(n):
    for i in range (1,n+1):
        print (i,end=" ")
    return
printnnaturalnumbers(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [102]:
#Function to print n natural numbers using while loop
def printnnaturalnumbers(n):
    counter =1
    while counter<=n:
        print (counter,end=" ")
        counter = counter + 1
    return
printnnaturalnumbers(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30